@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: none;
    border: none;
    box-sizing: none;
    font-size: 13px
    
}

.logo svg {
    max-height: 50px;
    max-width: 50px;
}

a{
    color: black;
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding: 1.2rem 2rem;
    font-size: 11px;
    border-bottom: 1px solid black;

}

.left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: .13rem;
    gap: 2rem;

}

.right-header{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.find-store-tab{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding-right: 2.24rem;
    letter-spacing: .1px;
}

.user-options{
    display: flex;  
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
}

.user-options button{
    width: 5rem;
    height: 30px;
}

.container {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: none;
}

/* Type 1 container style*/


.type1{
    max-width: 1460px;
    max-height: 609px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

.type1 img{
    max-width: 700px;
    max-height: 609px;
    
}

.type1 .sub-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45rem;
    background-color: rgb(50, 70, 47);
    color: white;
}

.type1 .sub-container1 h1 {
    font-size: 50px;
    font-weight: 524;
    letter-spacing: 3px;
    margin-bottom: .5rem;
    
}

.type1 .sub-container1 h2 {
    padding-bottom: 1rem;
    font-size: 24px;
    font-weight: 400;

}

.type1 .sub-container1 button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 140px;   
    font-size: 16px;
    margin-bottom: 2.5rem;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;

}

/* Type 2 container style*/

.container.type2{
    display: flex;
    margin: 0 3rem;
    max-height: 400px;
    color: white;
    background-color: #5f4633;
}


.type2 .sub-container1 img{
    object-fit: fill;
    max-width: 700px;
    max-height: 400px;
}

.type2 .sub-container2 .text-container{
    max-width: 600px;
    display: inline-block;
    gap: 2rem;
}

.type2 .sub-container2 .text-container h2{
    font-weight: 530;
}

.type2 .sub-container2,
.type2 .sub-container2 .text-container{
    background-color: #5f4633;
    font-size: 18px;
    text-align: center;
    letter-spacing: .8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    margin: 0 3rem;
    
}



.type2 .sub-container2 .text-container button{
    font-size:  16px;
    background-color: transparent;
    border: 1px solid white;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin: 1rem 0;
}


/* Container 3 styles */

.container3 .text-container{
    max-width: 600px;
}

/* Container 4 styles */

.container4.type2{
    background-color: #d1d1aa;
}

.container4 .sub-container2,
.container4 .sub-container2 .text-container{
    background-color: #d1d1aa;
    color: black;
}

.container4 .sub-container2 .text-container button{
    color: black;
    border: 1px solid black;
}

/* Container 5 syles */


.container5 .sub-container1,
.container5 .sub-container1 .text-container{
    background-color: #006242;
}

.container5 .sub-container1 .text-container{
    max-width: 500px;
}

/* Container 6 styles */

.container6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-self: center;
    max-width: 700px;
    gap: 5rem;
}


/* Grid container */

.lg-container {
    display: flex;
    justify-content: center;
}

.parent-topic {
    font-size: 18px;
    font-weight: 500;
}

.children-topic {
    font-size: 15px;
    font-weight: 300;
}



.grid-container {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    margin: 3rem 2rem;
    gap: 0 1rem;
    padding: 3rem 0;
    padding-left: 6rem;
    justify-items: flex-start;
    border: solid black;
    border-width: 1px 0;
}

.icon-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.icon-container svg{
    width: 40px;
}
    
.text-list {
    margin: 1.5rem 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
}


/* Buttons */

.user-options button{
    border: 1px solid   ;
    border-radius: 25px;
}

.sign-in-btn {
    color: black;
    background-color: white;

}

.join-btn {
    color: white;
    background-color: black;

}

/* Animation */

.user-options button:hover {
    background-color: rgb(44, 161, 44);
    color: white;
}

.find-store-tab:hover h3 a{
    color: rgb(44, 161, 44);
}

.right-header-items:hover{
    color: rgb(44, 161, 44);
}

.type1 .view-menu-btn:hover {
    background-color: rgb(26, 38, 24);
}

